<div class="card text-dark p-2" id="result">
  <h1>Code: <%= @item_code %></h1>
  <h1 class="mb-3">Qty: <%= @quantity %></h1>
  <h3>Breakdown</h3>
  <% @total_breakdown.each do |breakdown| %>
    <p><%= breakdown %></p>
  <% end %>
  <h1 class="mt-1">Total: </h1>
  <h1><%= number_to_currency(@calculation) %></h1>
</div>
